<% layout('../layout/Boilerplate') %>

<div id="map" class="map"></div>

    <h1 class="p-3 mb-2 bg-danger text-white border rounded">All Campground</h1>
       <% for (let camp of camps) { %>  
        <div class="card mb-1 border border-danger">
            <div class="card-header">
                <h2><%= camp.title %></h1>
            </div>
            <div class="card-body">
              <h4 class="card-title "><%= camp.location %></h5>
              <a href="/campground/<%=camp._id%>" class="btn btn-outline-success">View Campground</a>
            </div>
        </div>
        <% }%>

<script>
    const MAPBOX = '<%-process.env.MAPBOX_TOKEN%>'
    const Camps = { features : <%- JSON.stringify(camps) %> }
</script>

<script src="/Javascript/map.js"></script>